/*.container {
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
	-moz-border-radius: 10px;
	border-radius: 10px;
}*/

a, a:active, a:focus {
	outline: none;
}

.header img {
	height: 100px;
	width: auto;
}

.title {
	height: 40px;
	width: 100%
}

.left-panel {
	float: left;
	width: 20%;
}

.main-body {
	float: right;
	width: 80%;
}

.left-panel-btn {
	width: 100px;
	height: 60px;
	margin-top: 30px;
	margin-bottom: 30px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.left-panel-btn-name {
	text-align: left;
}

.left-panel-btn-link {
	width: 100%;
	height: 100%;
}

.highlight {
	background: #EEE;
}

.nav-stacked > li, .nav-stacked > li + li {
	margin-left: auto;
	margin-right: auto;
}

.title > p > strong {
	font-size: 15px;
}

#pli-body {
	width: 100%;
}

/*
#pli-bar-chart {
	width: 45%;
	float: left;
}
*/

#pli-mini-table {
	width: 100%;
}

#pli-mini-table th {
	/*border: none;*/
	text-align: center;
}

#pli-table {
	float: left;
	display: block;
}	

#pli-table, #company-table {
	width: 96%;
	margin: 20px, 0, 30px, 0;
}

#copyright {
	display: block;
	text-align: center;
}

#body-title {
	margin: 20px auto;
	width: 66%;
}

#body-page-table {
	margin: 80px auto;
}

.pli-top-tables {
	width: 96%;
	margin: 0 20px;
}

table #td-pli-mini-table {
	border-left: none;
	text-align: right;
}

#pli-mini-table {
	float: right;
	margin: 5px 0 0 0;
}

#pli-top-title1 {
	margin-top: 28px;
}

#pli-top-title1 th {
	text-align: center;
}

#pli-top-title2 #col1 {
	text-align: left;
	width: 34%;
}

#pli-top-title2 #col2 {
	text-align: center;
	width: 33%;
}

#pli-top-title2 #col3 {
	text-align: right;
	width: 33%;
}

#pli-mini-table th, #pli-mini-table td {
	padding: 15px 20px;
}

#pli-table-col1 {
	width: 5%;
}

#pli-table-col2 {
	width: 80%;
}

#pli-table-col3 {
	width: 15%;
}

.graphBarpli-bar-chart {
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
	background-image: linear-gradient(to bottom, #d9534f 0%, #c9302c 100%);
	background-repeat: repeat-x;
	border-color: #c12e2a;
}

#company-report-desc {
	margin-top: 28px;
}

/**
 * Table Styles
 */
table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table th {
	padding:21px 25px 22px 18px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
	/*text-align: left;*/
	padding-left:20px;
}
table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr {
	text-align: left;
	padding-left:20px;
}
table td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
table td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
	border-bottom:0;
}
table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}

.company-report-title {
	text-align: center;
}