@(companies: List[Company])

@main("Baker & McKenzie") {

    <div id = "body-title">
    	<p>	
    		There is an established consumer electrical retail market in China,
    		consisting basically of two market leaders Suning Appliance Co. Ltd
    		("Suning") and Gome Electrical Appliance Holding Ltd ("Gome") and
    		various other companies. 
    	</p>
    </div>
    
    <div class = "body-page">
	    <table id = "body-page-table">
	    	<tr>
	    		<th>No.</th>
	    		<th>Company Name</th>
	    		<th>Country/Region</th>
	    	</tr>
	    		@companies.map { company =>
	    			<tr>
		    			<td>@company.getCompanyId()</td>
		    			<td><a href = "/baker/company_report/@company.getCompanyId()">
		    				@company.getName()
		    				</a>
		    			</td>
		    			<td>@company.getCountry()</td>
	    			</tr>
	    		}
	    </table>
    </div>

}