@(companies: List[Company], pliData: List[Double], quartiles: List[Double])

@main("Baker & McKenzie") {
<div id = "pli-body">
	<div id = "pli-title">
		<p> PROFIT LEVEL INDICATOR BENCHMARK REPORT </p>
	</div>
	<div id = "pli-bar-chart-title">
		<spam id = "left"> Set = 5 Great China Comparable Companies </spam>
		<spam id = "middle"> 2012 </spam>
		<spam id = "right"> PLI = OM% </spam>
	</div>
    <div class = "bar-chart" id = "pli-bar-chart">
    	<script>
    		$(function() {
    			var value = [[@quartiles(2), 'Upper Quartile', '#f3f3f3'], [@quartiles(1), 'Median', '#f3f3f3'], [@quartiles(0), 'Lower Quartile', '#f3f3f3']];
				$("div[id = 'pli-bar-chart']").jqBarGraph( {data : value} );
			});
    	</script>
    </div>
  
    <div id = "pli-mini-table">
    	<table>
    		<tr>
    			<th>Benchmark Metrics</th>
    		</tr>
    		<tr><td>Count</td><td>@companies.size()</td></tr>
    		<tr><td>Count with PLI</td><td>@pliData.size()</td></tr>
    		<tr><td>Upper Quartile</td><td>@quartiles(2)</td></tr>
    		<tr><td>Median</td><td>@quartiles(1)</td></tr>
    		<tr><td>Lower Quartile</td><td>@quartiles(0)</td></tr>
    	</table>
    </div>
 
    <div id = "pli-table">
    	<table>
	    	<tr>
	    		<th>No.</th>
	    		<th>Comapny Name</th>
	    		<th> </th>
	    	</tr>
	    	@for(i <- 0 to companies.size()-1) {
	    		</tr>
	    			<td>@companies(i).getCompanyId()</td>
	    			<td>@companies(i).getName()</td>
	    			<td>@pliData(i)</td>
	    		</tr>
	    	}
    	</table>
    </div>
</div>
}